
@import'reset', 'header/header';





       

@import'reset';

@import'bodycard';


    .footer_container_icones_list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

@import'footer/footer';
