@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.section-home {
  background: url("../images/BandeEntete.png") no-repeat center center fixed;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-home .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: RGB(29, 95, 57);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 1;
}
.section-home .navbar .nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin: 3%;
  list-style-type: none;
  font-family: "Fraunces";
}
.section-home .navbar .nav_button {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: "Fraunces";
}
.section-home .navbar .nav_text {
  margin: 2%;
}
.section-home .navbar .logo {
  height: 100px;
  padding: 1%;
  width: auto;
  margin-left: 12%;
}
.section-home .navbar .panier {
  height: 40px;
  background-color: invert(98%) sepia(100%) saturate(0%) hue-rotate(289deg) brightness(102%) contrast(102%);
  margin: 1%;
}
.section-home .navbar .custom-button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.section-home .row {
  cursor: pointer;
  display: none;
}
@media (max-width: 500px) {
  .section-home #icons {
    display: block;
    color: white;
    margin-right: 5%;
  }
  .section-home #icons:before {
    content: "☰";
  }
  .section-home .active #icons:before {
    content: "✕";
  }
  .section-home .nav_menu {
    position: fixed;
    top: -100%;
    background-color: RGB(29, 95, 57);
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  .section-home .nav_menu.active {
    top: 8%;
    width: 100%;
    z-index: -1;
    margin: 0;
    margin-top: 5%;
    background-color: RGB(29, 95, 57);
    padding: 2%;
  }
  .section-home .nav_menu li {
    padding: 3px 0;
  }
}
.section-home .intro {
  display: flex;
  flex-direction: column;
  padding: 15%;
  text-align: center;
  color: white;
}
.section-home .intro h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 10px;
  font-family: "Fraunces", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
  padding: 5%;
  margin: 5%;
  margin-top: 10%;
}
@media (max-width: 500px) {
  .section-home .intro h1 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .section-home .intro h1 {
    margin-top: 25%;
  }
}
.section-home .intro p {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2px;
  padding: 5%;
  margin: 5%;
  font-family: "Fraunces", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
}
@media (max-width: 500px) {
  .section-home .intro p {
    font-size: 20px;
  }
}
.section-home .intro .arrow-down {
  display: flex;
  justify-content: center;
  padding: 7%;
  margin: 1%;
  animation: gelatine 0.5s infinite;
}
.section-home .arrow-down {
  display: flex;
  justify-content: center;
  padding: 7%;
  margin: 1%;
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.onoff {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.darkmode-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  color: #fff;
  font-size: 6em;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #333;
  transition: 0.4s;
  width: 50px;
  height: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  transition: 0.4s;
  top: 2.5px;
  left: 2.5px;
}

input:checked + .slider {
  background-color: #fd5d00;
  box-shadow: 0 0 3px #fd5d00;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 5px;
}

.slider.round::before {
  border-radius: 5px;
}

.custom-button {
  height: 30px;
  width: 50px;
  align-items: center;
  display: flex;
}

.dark-mode {
  background-color: black;
  color: #fff;
}

/* BODY CARD */
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  z-index: -1;
}

.h2main {
  font-size: 34px;
  color: #215F3F;
  font-family: "Fraunces";
  text-align: center;
}

@media (max-width: 349px) {
  .img-vege {
    display: none;
    width: 0px;
    max-width: 0px;
  }
  .mission-container__content {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  #title-mission {
    text-align: center;
  }
}
.desktop-image {
  display: block;
  display: block;
  width: 400px;
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  width: 400px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card__genre {
  margin-top: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.card__nom {
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Fraunces";
  color: #215F3F;
}
.card__prix {
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: medium;
  font-family: "Fraunces";
}
.card__ingredients {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 5px 5px 10px 0px;
}
.card__note {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.card__lien {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Montserrat";
  font-weight: 500;
}
.card__order {
  background-color: #215F3F;
  color: white;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  margin: auto;
  height: 40px;
  text-decoration: none;
  padding-top: 8px;
}

.card__lien a:hover {
  text-transform: uppercase;
  transform: scale(1.05);
  transition-duration: 200ms;
}

.card:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
}

.content {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#filter-buttons {
  text-align: center;
}

#filter-buttons button {
  background-color: white;
  border-color: green;
  border-radius: 10px;
  margin-right: 10px;
}

#filter-buttons button:hover {
  transform: scale(1.08);
  transition-duration: 200ms;
}

#reset {
  text-align: center;
  margin-top: 10px;
}

#reset-button {
  background-color: white;
  border-color: red;
  border-radius: 10px;
  margin-right: 5px;
}

#reset-button:hover {
  transform: scale(1.08);
  transition-duration: 200ms;
}

.mission h2 {
  font-size: 34px;
  color: #215F3F;
  font-family: "Fraunces";
  text-align: center;
}

.mission {
  width: 100%;
  box-sizing: border-box;
  padding-top: 64px;
}
.mission__title {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mission__slogan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
}

.mission-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}
.mission-container__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 24px;
  line-height: 1.4;
  margin-top: 48px;
  margin-right: 24px;
  width: 50%;
}

.img-vege {
  width: 50%;
  margin: 0 24px;
  aspect-ratio: 8/7;
  position: relative;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mission-container__content h3 {
  font-size: 34px;
  color: #215F3F;
  font-family: "Fraunces";
  text-align: left;
  padding-bottom: 24px;
}

.mission-container__content p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
}

.footer {
  width: 100%;
  background-color: #426d4a;
}

.footer_container_contact {
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-family: "Dancing Script";
  font-size: 20px;
  padding-top: 25px;
  color: white;
}
@media (max-width: 600px) {
  .footer_container_contact {
    display: flex;
    flex-direction: column;
  }
}
.footer_container_contact .footer_contact {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #426d4a;
}
@media (max-width: 600px) {
  .footer_container_contact .footer_contact {
    width: 40%;
  }
}
.footer_container_contact strong {
  font-size: 35px;
}
.footer_container_contact img {
  width: 450px;
}
.footer_container_contact .footer_container_about {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer_container_contact .footer_container_about {
    width: 40%;
  }
}
.footer_container_contact .footer_container_logo {
  width: 33%;
}

.footer_container_icones {
  display: flex;
  width: 100%;
}
.footer_container_icones img {
  width: 90px;
}
.footer_container_icones .footer_container_icones_reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter: invert(30%) sepia(115%) saturate(59%) hue-rotate(836deg) brightness(201%) contrast(247%);
}
.footer_container_icones .footer_container_icones_reseaux .footer_container_icones_reseaux_list {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer_container_icones .footer_container_icones_reseaux .footer_container_icones_reseaux_list {
    margin-right: 30%;
  }
}
.footer_container_icones .footer_container_icones_reseaux .footer_container_icones_reseaux_list .footer_container_icones_reseaux_list_li {
  margin-right: 100px;
  display: flex;
  align-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer_container_icones .footer_container_icones_reseaux .footer_container_icones_reseaux_list .footer_container_icones_reseaux_list_li {
    margin-right: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 20px;
  }
}
.footer_container_icones .footer_container_icones_reseaux .footer_container_icones_reseaux_list .footer_container_icones_reseaux_list_li img {
  width: 30px;
}

.footer_politiqueConfi {
  display: flex;
  background-color: RGB(29, 95, 57);
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.footer_politiqueConfi .footer_politiqueConfi_P {
  font-size: 20px;
  color: white;
}

.modal {
  display: none; /* By default, hide the modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}
.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-content {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}
.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.modal .modal-content .modal-header h2 {
  font-size: 24px;
  margin: 0;
}
.modal .modal-content .modal-header .close-button {
  cursor: pointer;
  font-size: 24px;
}
.modal .modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.modal .modal-content table th,
.modal .modal-content table td {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  text-align: left;
}
.modal .modal-content table th {
  font-weight: bold;
}
.modal .modal-content .total_checkout {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.modal .modal-content #checkoutButton,
.modal .modal-content .clear_btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.modal .modal-content #checkoutButton:hover,
.modal .modal-content .clear_btn:hover {
  background-color: #2980b9;
}/*# sourceMappingURL=style.css.map */