@import'reset';
<<<<<<< HEAD
@import'bodycard';

    .footer_container_icones_list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
=======
@import'footer/footer';




       
>>>>>>> 8346bca7208a00599e3cd6c0b3e2e8647f304a66
