
@import'reset', 'header/header';





       
<<<<<<< HEAD

@import'reset';

@import'bodycard';



=======

@import'reset';

@import'bodycard';


    .footer_container_icones_list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
>>>>>>> c33dff0aa6eb3f6150ceac48e1672d9b26b85001

@import'footer/footer';



<<<<<<< HEAD

       
=======
>>>>>>> c33dff0aa6eb3f6150ceac48e1672d9b26b85001
