$small-screen: 375px;
$mobile: 500px;
$desktop: 1400px;

@mixin media-maxwidth($screensize) {
    @media (max-width: $screensize) {
        @content;
    }
}

.section-home {
    background: url('../images/BandeEntete.png') no-repeat center center fixed;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: RGB(29, 95, 57);
        justify-content: space-between;
        position: fixed;
        width: 100%;
        margin: 0;
        z-index: 1;

        .nav_menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50%;
            align-items: center;
            margin: 3%;
            list-style-type: none;
            font-family: 'Fraunces';
        }

        .nav_button {
            color: white;
            text-decoration: none;
            list-style-type: none;
            font-family: 'Fraunces';
        }

        .nav_text {
            margin: 2%;
        }

        .logo {
            height: 100px;
            padding: 1%;
            width: auto;
            margin-left: 12%;
        }

        .panier {
            height: 40px;
            background-color: invert(98%) sepia(100%) saturate(0%) hue-rotate(289deg) brightness(102%) contrast(102%);
            margin: 1%;
        }

        .custom-button {
            background-color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

    }

    .row {
        cursor: pointer;
        display: none;
    }
    
    @include media-maxwidth($mobile) {
        #icons {
            display: block;
            color: white;
            margin-right: 5%;
        }
    
        #icons:before {
            content: "\2630";
        }
    
        .active #icons:before {
            content: "\2715";
        }
    
        .nav_menu {
            position: fixed;
            top: -100%;
            background-color: RGB(29, 95, 57);
            flex-direction: column;
            width: 100%;
            text-align: center;
            transition: 0.25s;
    
            &.active {
                top: 8%;
                width: 100%;
                z-index: -1;
                margin: 0;
                margin-top: 5%;
                background-color: RGB(29, 95, 57);
                padding: 2%;
            }
    
            li {
                padding: 3px 0;
            }
        }
    }
    

    .intro {
        display: flex;
        flex-direction: column;
        padding: 15%;
        text-align: center;
        color: white;

        h1 {
            font-family: 'Fraunces', sans-serif;
            font-weight: 800;
            font-size: 60px;
            letter-spacing: 10px;
            font-family: 'Fraunces', sans-serif;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 5px 5px 5px black;
            padding: 5%;
            margin: 5%;
            margin-top: 10%;

            @include media-maxwidth($mobile) {
                font-size: 20px;
            }

            @include media-maxwidth($small-screen) {
                margin-top: 25%;
            }
        }

        p {
            font-weight: 400;
            font-size: 36px;
            letter-spacing: 2px;
            padding: 5%;
            margin: 5%;
            font-family: 'Fraunces', sans-serif;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 5px 5px 5px black;

            @include media-maxwidth($mobile) {
                font-size: 20px;
            }
        }

        .arrow-down {
            display: flex;
            justify-content: center;
            padding: 7%;
            margin: 1%;
            animation: gelatine 0.5s infinite;
        }
    }

    .arrow-down {
        display: flex;
        justify-content: center;
        padding: 7%;
        margin: 1%;
        animation: gelatine 0.5s infinite;
    }
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.onoff {
    appearance: none;
    display: none;
}

.darkmode-button {
    appearance: none;
    display: none;
}

.toggle {
    position: relative;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff {
    color: #fff;
    font-size: 6em;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: 0.4s;
    width: 50px;
    height: 30px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #fff;
    transition: 0.4s;
    top: 2.5px;
    left: 2.5px;
}

input:checked+.slider {
    background-color: #fd5d00;
    box-shadow: 0 0 3px #fd5d00;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 5px;
}

.slider.round::before {
    border-radius: 5px;
}

.custom-button{
    height: 30px;
    width: 50px;
    align-items: center;
    display: flex;
}

.image-panier{
    height: 15px;
    width: auto;
}