.footer {
    width: 100%;
    background-color: #426d4a;

    .footer_contact {
        width: 20%;
    }
}

.footer_container_contact {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Dancing Script';
    font-size: 20px;
    padding-top: 35px; 
    color: white;
    
    strong {
        font-size: 45px;
    }

    img {
        width: 450px;
    } 
}

.footer_contact_contact_items {
    width: 20%;
}

.footer_politiqueConfi {
    display: flex;
    background-color: RGB(29, 95, 57);
    width: 100%;
    height: 50px;
    justify-content: center; 
    align-items: center;

    .footer_politiqueConfi_P {
        font-size: 20px;
        color: white;
    }
}

.footer_container_github {
        display:flex;
    img {
        width: 90px;
    }
}

.footer_container_icones {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 84%;
    filter: invert(30%) sepia(115%) saturate(59%) hue-rotate(836deg) brightness(201%) contrast(247%);
    
   

    .footer_container_icones_list {
        list-style: none;
        display: flex;   
        align-content: center;
        align-items: center;
        width: 18%;
        
       
        
    
        .footer_container_icones_list_li {
            margin-right: 100px;
            
            
            img {
                width: 30px;
            }

        }
    }
}

